.social {
  @include pos($l: 50%, $b: 30px);

  display: flex;
  justify-content: center;
  transform: translateX(-50%);

  &__item {
    margin: 5px;
  }

  &__icon {
    @include size(32px);
    fill: #fff;
  }
}
