.choose {
    font-family: $font;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;

    .item {
        margin-bottom: 24px;
        margin-right: 30px;

        .link {
            opacity: .5;
            font-family: $font;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-decoration: none;
            color: currentColor;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        }

        .link:active {
            opacity: 1;
            font-weight: 600;
        }
    }
}