.footer {
  background: url(../images/footer_bg-mobile.jpg);
  background-size: cover;
  position: relative;

  &::after {
    @include size(100%, 1px);
    @include pos($t: 42%, $l: 0);

    content: "";
    background-color: #dadada;
  }

  &__wrap {
    padding: 70px 0 60px;
  }

  &__contact {
    text-align: center;
    padding-bottom: 65px;
    position: relative;
  }

  &__text {
    margin: 35px 0;
  }

  &__menus {
    padding-top: 60px;
  }

  &__menu {
    margin-bottom: 40px;
  }

  &__menu-title {
    font-weight: 600;
    color: #333333;
    margin-bottom: 10px;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__link {
    text-decoration: none;
    color: #333333;
    opacity: 0.5;
  }

  &__social {
    margin: 20px 0 15px;
  }

  &__rights {
    color: #333333;
    opacity: 0.5;
  }
}
