.header {
  background: url(../images/header_bg-mobile.jpg) no-repeat bottom center;
  background-size: cover;
  overflow-x: hidden;

  &__wrap {
    height: 100vh;
    padding: 15px 0 30px;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
  }

  &__navigation {
    @include size(100%, 65px);
    @include pos(fixed, $l: 0, $t: 0, $z: 99);

    background: #fff;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 20px #c86dd7;
  }

  &__title {
    font: 700 56px $font-title;

    line-height: 64px;
    color: #fff;
    margin-top: 90px;
  }

  &__info {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    margin: 30px 0;
  }

  &__social {
    @include pos($l: 50%, $b: 30px);

    justify-content: center;
    transform: translateX(-50%);
  }
}
